body {
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
h1 {
    color: rgb(235, 229, 231) !important;
    font-size: 3em;
    padding-top: 0px;
    width: 100%;
    font-family: Georgia;
    text-align: center;
    margin-bottom: 0px;
    position: relative;
    top: 90px;
    margin-right : 10px;
    }
    
    p {
        color: white;
        line-height: 1.3em;
        text-align: left;
        width: 200%;
        font-family: Helvetica;
        font-size: 40px;
        font-weight: bold;
        padding: 100px;
        border: 0px;
        }
    li{
        display: block;
        margin-inline-start: 500px;
      }
      .section__about{
        display: block;
        width:90rem;
        font-size:3rem;
        margin-top:5rem;
        margin-left:15px;
        color: white;
      }
      #clock {
        font-size: 50px;
        width: 50px;
        margin: 10px 0px 10px 10px;
        border-radius: 10px;
        color:#e7e7de;
      }
      .welcome-part-1{
        display: flex;
        align-items:center;
        position:relative;
        top: 1px;
      }
      
      .welcome-part-1 img{
        position:absolute;
        top:1px;
      }
      
      .welcome-part-1 .team-members{
        z-index: 10;
        margin-top:18px;
      }
      .welcome-part-1 ul li{
        margin-bottom: 10px;
      
      }
      .welcome-part-1 ul p{
        margin-right: 10px;
      }
      
      .welcome-part-1 ul li a {
        color: white;
      }
      
.team-members{
  margin-top:0;
}

    .image {
    background-image: url('/LOGO.png');
    background-size: cover;
    background-position: center;
    height: 500px;
    margin: 100;
    padding: 400;
    padding-bottom: 1000px;
    }